body {
  background-color: #222;
  color: #fff;
}

input {
  color: #333;
  font-weight: bold;
}

.call-img {
  max-width: 800px;
  width: 80%;
}

.data-viz {
  max-width: 1000px;
  margin-top: 10px;
  width: 80%;
}

.dark-bg {
  background-color: #333;
  padding: 10px;
}
