{% extends "_base.html" %}

{# CSS styles #}
{% block css %}
<link rel="stylesheet" type="text/css" href="css/style.css" />
{% endblock css %}

{# Content #}
{% block content %}
<div class="gallery">
  {% for slide in slides %}
  <div class="gallery-cell "{% if slide.background_image %} style="background-image: url('{{ slide.background_image }}');"{% endif %}>
    <div class="content-outer-wrapper">
      <div class="content-wrapper">
        <div class="content">
          <h3>{{ slide.text|safe }}</h3>
          {% if slide.decision %}
            <div class="decision-btn">
              <button class="btn btn-lg">Yes</button>
              <button class="btn btn-lg">No</button>
            </div>
          {% endif %}
          {% if slide.extra_class == "badge" %}
            {% include 'badge.html' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}

{# Javascript #}
{% block scripts %}
<script src="js/app.js"></script>
{% endblock %}
